.u-section-1 .u-sheet-1 {
  min-height: 260px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 263px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 862px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-family: Alata;
  width: 382px;
  margin: 137px auto 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-1 .u-text-1 {
    font-family: Raleway, sans-serif;
    margin-top: 20px;
    margin-right: 662px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 302px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 102px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 502px;
}

.u-section-2 .u-text-1 {
  width: 293px;
  font-family: Alata;
  margin: 45px auto 0;
}

.u-section-2 .u-form-1 {
  width: 570px;
  margin: 45px auto 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}