.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 509px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1500ms;
  font-weight: 700;
  background-image: none;
  font-size: 3.75rem;
  font-family: Raleway, sans-serif;
  margin: 255px 541px 0 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  background-image: none;
  margin: 41px 435px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 341px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 121px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1394px;
}

.u-section-2 .u-gallery-1 {
  height: 364px;
  grid-gap: 17px 17px;
  margin: 172px 0 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-2 .u-back-slide-1 {
  background-image: none;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-2 .u-gallery-1 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1719px;
  }

  .u-section-2 .u-gallery-1 {
    height: 689px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2580px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1550px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2006px;
  }

  .u-section-2 .u-gallery-1 {
    height: 976px;
    margin-right: initial;
    margin-left: initial;
  }
}